snippet bg "The begin of a shell script"
#! /bin/bash
#  File: `!p snip.rv=snip.fn`
#  Author: `echo $USER`
#  TIME: `date`
#  USAGE: $1
$2
endsnippet

snippet sec "Begin a section" 
#####
########## $1 ##########
#####
endsnippet
